<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DisplayApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DisplayApp.Properties.Settings>
            <setting name="prvicRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="vodicStep" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="vodicProOkno" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="vodicNastavitveProOkno" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="vodicRestart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="HeaderKontrolnoOknoColor" serializeAs="String">
                <value>#ffffff</value>
            </setting>
            <setting name="BodyKontrolnoOKnoColor" serializeAs="String">
                <value>#ffffff</value>
            </setting>
            <setting name="TextKontrolnoOknoColor" serializeAs="String">
                <value>#000000</value>
            </setting>
            <setting name="ButtonKortrolnoOknoOpenColor" serializeAs="String">
                <value>#0bdac2</value>
            </setting>
            <setting name="ButtonKontrolnoOknoNastavitveColor" serializeAs="String">
                <value>#cccccc</value>
            </setting>
            <setting name="DisplayID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NadzornaPloscaColor" serializeAs="String">
                <value>#ffffff</value>
            </setting>
            <setting name="HashPreverjanjeGlavniXml" serializeAs="String">
                <value />
            </setting>
            <setting name="HashPreverjanjeNoviArtikli" serializeAs="String">
                <value />
            </setting>
        </DisplayApp.Properties.Settings>
    </userSettings>
</configuration>